<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
    <div class="gambar">
        <div class="formbox">
            <form action="">
                <h1>Create Your Account</h1>
                <div class="social-icons">
                    <img src="{% static 'img/google.png' %}" alt="Google">
                    <img src="{% static 'img/facebook.png' %}" alt="Facebook">
                    <img src="{% static 'img/apple.png' %}" alt="Apple">
                </div>
                <p>or use your E-mail account for registration</p>
                <div class="input-box">
                    <input type="text" placeholder="Username" required>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="E-mail" required>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Password" required>
                </div>
                <div class="forgotpass-link">
                    <a href="#">Forgot your password?</a>
                </div>
                <button type="submit" class="signup-button">Sign Up</button>
                <p class="login">Already have an account? <a href="#" class="login-link">Login here</a></p>
            </form>
        </div>

        <div class="left-section">
            <div class="gambar-container">
                <img src="{% static 'img/w.png' %}" alt="logo-w" class="logo-w">
            </div> 
            <div class="welcome-text"> 
                <h2>Welcome to Waluya Aquarium</h2>
            </div>
        </div>
    </div>
</body>
</html>